---
import EducationItem from "./EducationItem.astro";

const EDUCATION = [
  {
    date: "Febrero 2018 – Diciembre 2025, Popayán, Colombia",
    title: "Ingeniería de Sistemas",
    company: "Universidad del cauca",
    description:
      "Formación integral en análisis, diseño y desarrollo de soluciones de software, con énfasis en sistemas de información, ingeniería de software y resolución de problemas tecnológicos. Experiencia académica en trabajo colaborativo, pensamiento lógico y adaptación a entornos tecnológicos cambiantes.",
  },
];
---

<ol class="relative mt-16">
  {
    EDUCATION.map((education) => (
      <li class="">
        <EducationItem {...education} />
      </li>
    ))
  }
</ol>
