---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Enero 2025 – Actual, Cali, Colombia",
    title: "Líder de Desarrollo Frontend",
    company: "Atix Digital",
    description:
      "Lideró el desarrollo frontend de múltiples proyectos web con React y Next.js, estableciendo lineamientos técnicos, buenas prácticas y estándares de calidad para el equipo. Supervisó y gestionó los cambios de código mediante GitHub, realizando code reviews enfocados en mantenibilidad, rendimiento y escalabilidad. Coordinó tareas y prioridades con los equipos de backend y diseño, participó en la planificación técnica y estimación de tareas, y acompañó la formación del equipo mediante mentoría. Además, tomó decisiones técnicas orientadas a optimizar la experiencia de usuario, implementó comunicación en tiempo real con WebSockets y realizó despliegues en Google Cloud Platform (GCP) garantizando entornos productivos estables.",
  },
  {
    date: "Julio 2022 – Enero 2025, Cali, Colombia",
    title: "Desarrollador Frontend",
    company: "Atix Digital",
    description:
      "Encargado de desarrollar y optimizar aplicaciones web para sectores bancarios y gubernamentales, logrando mejoras significativas en rendimiento y usabilidad. Implementé prácticas de CI/CD que incrementaron la eficiencia en la entrega de software y colaboré estrechamente con el equipo backend y de diseño para asegurar una integración fluida. También lideré la migración de aplicaciones de React a Next.js, logrando un aumento del 30% en la optimización de SEO y rendimiento de carga.",
  },
  {
    date: "Feb 2022 – Sep 2022, Bogotá, Colombia",
    title: "Analista QA",
    company: "Cari AI",
    description:
      "Coordiné pruebas de software para garantizar la calidad en los productos, diseñando casos y planes de prueba detallados. Identifiqué y documenté defectos en colaboración con el equipo de desarrollo, contribuyendo a la mejora continua de los procesos de control de calidad.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
